
/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
/* codes are done based on a general weidth of 768px
if we will be adapting it to pc, using @mesure */

/* General styling everywheer */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
*{
    font-family: Oswald, sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: pink;
}

body{
    display: flex;
    flex-flow: column nowrap;
    margin: -10px;
    min-width: 768px;
}

/* Navigation bar section */
nav{
    background-color:#540B51;
    display: flex;
    flex-flow: row nowrap;
    height: 150px;
    justify-content: space-between;
    /* align-items: flex-end; */
}

nav ul{
    content: '';
    display: none;
}

nav div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.slackLogo{
    display: block;
    height: 4em;
} 


button{
    background-color: #540B51;
    display: flex;
    flex-flow: row nowrap;
    border: none;
    color: #540B51;
    font-size: 100px;
    padding: 20px;
}
button>img{
    height: 0.5em;
}

/* Header */
header{
    background-color: blue;
    /* background-color:#540B51; */
}
/* main */
main{
    background-color:#F3EAE2;
}
/* footer */


@media only screen 
and (min-device-width:769px)
and (max-device-width:1024px)
{

}

@media only screen 
and (min-device-width:1025px)
{
    .menuList{
        flex-grow: 1;
    }

    nav ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;
    } 
}