
/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
/* codes are done based on a general weidth of 768px
if we will be adapting it to pc, using @mesure */

/* General styling everywheer */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
*{
    font-family: Oswald, sans-serif;
    text-align: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: pink;
}

body{
    display: flex;
    flex-flow: column nowrap;
    margin: -2px;
    min-width: 768px;
}

/* define default font size */

h1{
    font-size: 6em;
    margin:0;
}

h2{
    font-size: 3.7em;
    margin:0;
}

h3{
    font-size: 4em;
    margin:0;
    padding: 60px;
}

p{
    font-size: 3em;
}

.whiteTxt{
    color: white;
}

.txtCentered{
    text-align:center;
}

.txtJustified{
    text-align:justify;
}

button{
    border-radius: 5px;
    font-size: 20px;
    width: 680px;
    height: 70px;
    margin: 10px;
    padding: 7px;
}


/* Navigation bar section */
nav{
    margin: -1px;
    background-color:#540B51;
    display: flex;
    flex-flow: row nowrap;
    height: 150px;
    justify-content: space-between;
    /* align-items: flex-end; */
}

nav ul{
    content: '';
    display: none;
}

nav div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.slackLogo{
    display: block;
    height: 3em;
} 

nav button{
    background-color: #540B51;
    display: flex;
    flex-flow: row nowrap;
    border: none;
    color: #540B51;
    font-size: 80px;
    padding: 20px 0;
}

button>img{
    height: 0.5em;
}

/* Header */
header{
    margin: -1px;
    background-color:#540B51;
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.headLeft{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.headRight{
    overflow: hidden;
}

#slogan,
#slogan + p{
    text-align: center;
    color: white;
}

.linkButtons{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#whiteButton{
    border: none;
    background-color: white;
}

#blueButton{
    background-color: #4285F4;
    display: flex;
    flex-flow: row nowrap;
    gap: 210px;
    align-items: center;
    border: none;
}


img[src*="google"]{
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    height: 50px;
}


/* main */
main{
    background-color:#F3EAE2;
    margin: -1px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main > section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.reversed {
    display: flex;
    flex: row-reverse wrap;
    align-items: center;
}

main > section p{
    width: 700px;
    font-weight:lighter;
    padding: 0 34px;
    margin: 0;
}

main > section h2 {
    width: 700px;
    padding:35px;
}

.partenerLogos{
    padding: 30px;
    width: auto;
    display: flex;
    flex-flow: row wrap;
}

.partenerLogos > img {
    height: 4em;
    padding: 20px;
}

.pateners{
    font-weight: 400;
}

#pateners{
    display: flex;
    flex-flow: column nowrap;
}



.stats{
    background-color: white;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin: -1px;
    padding: 0 0 50px 0;
}

.stats p{
    font-size: 2em;
}

.mainVioletButton{
    background-color:#540B51;
    align-items: center;
    border: solid;
    border-color: white;
    color: white;
    text-transform: uppercase;
}

.mainWhiteButton{
    background-color:white;
    align-items: center;
    border: solid;
    color:#540B51;
    text-transform: uppercase;
}

main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    /* width: 768px; */
}

.narrowStats{
    width: 250px;
}

.percentage{
    font-size: 2em;
    font-weight: 400;
    color: #540B51;
}

main ul{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    justify-content: space-evenly;
}
main ul li{
    width: 300px;
    margin: 0;
}

.txtBlock{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txtBlock a{
    text-align: center;
    color: #2E71A6;
    font-size: 3em;
    font-weight: 100;
}

.txtBlock a::after{
    content: "→";
}

.imgBlock{
    height: 700px;
    padding: 20px 0;
    overflow: hidden;
}

.imgBlock img{
    display: block;
    max-height: 95%;
    max-width: 95%;
}

.stickLeft {
    align-self: flex-start;
}

.stickRight {
    align-self: flex-end;
}






#mainVioletSection{
    background-color: #540B51;
}



/* footer */




@media only screen 
and (min-device-width:769px)
and (max-device-width:1024px)
{

}

@media only screen 
and (min-device-width:1025px)
and (max-device-width:1440)

{
    .menuList{
        flex-grow: 1;
    }

    nav ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;
    } 
}


@media only screen 
and (min-device-width:1441px)
{
    .linkButtons{
        display: flex;
        flex-flow: row wrap;
    
    }
}